page-home {
  @media (max-width: 567px) {
    .scroll-content {
      background-color: #ddd;
    }

    // .toolbar-content{
    //     text-align: left;
    //     height: 56px;
    //     display: inline;
    //     background: #fff;
    // }

    ion-navbar {
      background-color: #fff;
      height: 64px;
    }

    // .menu {
    //   float: left;
    // }

    .cart {
      font-size: 20px;
      float: right;
      // margin-right: 20px;
      margin-top: 28px;
      color: #fff;
    }

    .toolbar-title {
      font-size: 16px;
      // width: 80%;
      // float: left;
      // text-align: center;
      // margin-left: 4px;
      margin-top: 4px;
    }

    .toolbar-title-ios {
      padding-top: 12px;
    }

    .slider {
      height: 150px;
      padding-top: 8px;
      width: 100%;
    }

    .image_card {
      padding: 24px;
    }

    .slider_image {
      width: 100%;
    }

    .cardview {
      margin: 8px;
      box-shadow: 3px;
    }

    .adcard {
      height: 200px;
      width: 100%;
    }

    .product_image {
      height: 100px;
      width: 100%;
      padding: 4px;
    }

    .name {
      // font-weight: bold;
      font-size: 14px;
    }

    .price {
      text-decoration: line-through;
      float: left;
      margin-left: 14%; 
      font-size: 12px;
    }

    .price:before {
      content: "$";
    }

    .price_discount {
      font-size: 12px;
      margin-left: 14%;
    }

    .swiper-pagination-bullet-active{
      background: color($colors, white) !important;
      opacity: 1;
    }
    
    .price_discount:before {
      content: "$";
    }

    .discount_box {
      background: #fff;
    }

    .discount_image{
      height: 130px;
    }

    .discount_images{
      height: 300px;
    }

    .button-ios,
    .button-md,
    .button-wp {
      height: 1.1em;
      margin: 0em;
      font-size: 14px;
      padding: 0em;
    }

    .single_image {
      height: 150px;
      width: 100%;
    }
    
  }
}
