<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon padding class="menu" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="toolbar-title" padding-top>HOME</ion-title>
    <ion-buttons right>
      <button ion-button>
        <ion-icon class="cart" name="md-search"></ion-icon>
        <ion-icon class="cart" name="md-cart" padding></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides class="slider" slidesPerView="1.3">
    <ion-slide *ngFor="let img of slider;let i = index;">
      <ion-card (click)="singleProductDetail('Bethak',img.productId)" class="slider_card">
        <img src="{{img.imageUrl}}" class="slider_image" />
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-header>
      Our Products
    </ion-card-header>
    <ion-card-content>
      <ion-slides slidesPerView="2.5">
        <ion-slide *ngFor="let img of items;let i = index;">
          <img  src="{{img.icon}}" (click)="nextSliderView(i)" class="image_card" />
          <p>{{img.name}}</p>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-slides *ngIf="slider && slider.length" class="adcard" autoplay="3000" speed="500" slidesPerView="1" pager="true">
    <ion-slide *ngFor="let img of slider">
      <img src="{{img.imageUrl}}" class="adcard" imageViewer />
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      Best In Article
      <!-- <div right> -->
      <button (click)="SecondDetailPage('Article')" style="float:right" clear color="secondary" ion-button>View More</button>
      <!-- </div> -->
    </ion-card-header>
    <ion-card-content>
      <ion-slides slidesPerView="2.5">
        <ion-slide *ngFor="let img of article;let i = index;">
          <img src="{{img.imageUrl}}" (click)="singleProductDetail('Article',i)" class="product_image" />
          <p class="name" text-center>{{img.name}}</p>
          <p class="price" text-center>{{img.originalPrice}}</p>
          <p class="price_discount" text-center>{{img.discountPrice}}</p>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Best In Bed
      <!-- <div right> -->
      <button (click)="SecondDetailPage('Bed')"  style="float:right" clear color="secondary" ion-button>View More</button>
      <!-- </div> -->
    </ion-card-header>
    <ion-card-content>
      <ion-slides slidesPerView="2.5">
        <ion-slide *ngFor="let img of bed;let i = index;">
          <img src="{{img.imageUrl}}" (click)="singleProductDetail('Bed',i)" class="product_image" />
          <p class="name" text-center>{{img.name}}</p>
          <p class="price">{{img.originalPrice}}</p>
          <p class="price_discount">{{img.discountPrice}}</p>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <!-- 
    <ion-slides class="slider" slidesPerView="1.3" autoplay="3000" speed="500">
      <ion-slide *ngFor="let img of images" padding>
        <ion-card class="slider_adcard">
          <img src="{{img}}" class="slider_image" />
        </ion-card>
      </ion-slide>
    </ion-slides>
 -->

  <div class="discount_box" padding>
    <h4 text-center padding-left>10% or More Discount Products</h4>
    <!-- <ion-card padding> -->
    <ion-row class="discount_images" wrap>
      <ion-col col-6 *ngFor="let images of discount_10">
        <img class="discount_image" src="{{images.imageUrl}}" />
      </ion-col>
    </ion-row>
  </div>

  <ion-card>
    <ion-card-header>
      Best In Bethak
      <!-- <div right> -->
      <button (click)="SecondDetailPage('Bethak')" style="float:right" clear color="secondary" ion-button>View More</button>
      <!-- </div> -->
    </ion-card-header>
    <ion-card-content>
      <ion-slides slidesPerView="2.5">
        <ion-slide *ngFor="let img of bethak;let i = index;">
          <img src="{{img.imageUrl}}" (click)="singleProductDetail('Bethak',i)" class="product_image" />
          <p class="name" text-center>{{img.name}}</p>
          <p class="price">{{img.originalPrice}}</p>
          <p class="price_discount">{{img.discountPrice}}</p>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Best In Chairs
      <button (click)="SecondDetailPage('Chairs')"  style="float:right" clear color="secondary" ion-button>View More</button>
    </ion-card-header>
    <ion-card-content>
      <ion-slides slidesPerView="2.5">
        <ion-slide *ngFor="let img of chairs;let i = index;">
          <img src="{{img.imageUrl}}" (click)="singleProductDetail('Chairs',i)" class="product_image" />
          <p class="name" text-center>{{img.name}}</p>
          <p class="price">{{img.originalPrice}}</p>
          <p class="price_discount">{{img.discountPrice}}</p>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="{{image}}"  class="single_image"/>
    <h5 text-center padding>Most Beautiful Products</h5>
  </ion-card>

  <ion-card>
      <ion-card-header>
        Best In Dining Table
        <button (click)="SecondDetailPage('Dining Tables')"  style="float:right" clear color="secondary" ion-button>View More</button>
      </ion-card-header>
      <ion-card-content>
        <ion-slides slidesPerView="2.5">
          <ion-slide *ngFor="let img of table;let i = index;">
            <img src="{{img.imageUrl}}" (click)="singleProductDetail('Dining Tables',i)" class="product_image" />
            <p class="name" text-center>{{img.name}}</p>
            <p class="price">{{img.originalPrice}}</p>
            <p class="price_discount">{{img.discountPrice}}</p>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
          Best In Door
          <button (click)="SecondDetailPage('Door')"  style="float:right" clear color="secondary" ion-button>View More</button>
        </ion-card-header>
        <ion-card-content>
          <ion-slides slidesPerView="2.5">
            <ion-slide *ngFor="let img of door;let i = index;">
              <img src="{{img.imageUrl}}" (click)="singleProductDetail('Door',i)" class="product_image" />
              <p class="name" text-center>{{img.name}}</p>
              <p class="price">{{img.originalPrice}}</p>
              <p class="price_discount">{{img.discountPrice}}</p>
            </ion-slide>
          </ion-slides>
        </ion-card-content>
      </ion-card>
</ion-content>