page-menu {

    @media(max-width: 567px){
        .navHeader{
            background-color: #FFFFFF; 
            height: 150px;
            font-style: bold;
        }

        .header-image{
            height: 160px;
        }
    }

}
